footer {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 0) and (max-width: 1000px) {
    justify-content: left;
    padding: 20px;
  }

  .container {
    width: 70vw;
    border-top: 1px solid #dbdbdb;

    h3 {
      color: #065c6f;
      font-size: 18px;

      @media screen and (min-width: 0) and (max-width: 1000px) {
        padding-top: 20px;
      }
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}
