footer {
  .container {
    border-top: 1px solid #dbdbdb;

    h3 {
      color: #313234;
    }

    a {
      text-decoration: none;
      color: #4c4c4c;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .copyright {
      font-size: 15px;
    }
  }
}
