.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  display: flex;
  padding: 30px;
  width: 100%;

  .nav-primary {
    margin-left: auto;
    display: flex;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      padding: 0 20px;

      &.social-button {
        padding-left: 10px;
        padding-right: 10px;
      }

      @media screen and (min-width: 0) and (max-width: 1000px) {
        &.social-button {
          display: none;
        }
      }
    }
  }
}

.content-page {
  .banner {
    background-color: #226089;
  }

  @media screen and (min-width: 0) and (max-width: 1000px) {
    .banner {
      display: none;
    }
  }

  .nav-primary {
    .menu-item {
      a {
        color: #fff;
      }
    }
  }

  .btn-blue.donate-button {
    border: 1px solid white;
  }
}

.navigation-page {
  .banner {
    display: flex;
    padding: 30px;
    position: absolute;
    z-index: 10;
    width: 100%;

    .nav-primary {
      .menu-item {
        a {
          color: #fff;
          text-shadow: 2px 2px 4px #000;
        }
      }
    }

    .brand {
      img {
        -webkit-filter: drop-shadow(5px 5px 5px #000);
        filter: drop-shadow(5px 5px 5px #000);
      }
    }

    @media screen and (min-width: 0) and (max-width: 1000px) {
      .brand {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: 1000px) {
  .btn-blue.donate-button {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .btn-blue.donate-button {
    display: block;
  }
}
