.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  display: flex;
  padding: 30px;
  width: 100%;

  .nav-primary {
    margin-left: auto;
    display: flex;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
      font-size: 18px;
      padding: 0 20px;
    }
  }
}

.navigation-page {
  .banner {
    display: flex;
    padding: 30px;
    position: absolute;
    z-index: 10;
    width: 100%;

    .nav-primary {
      .menu-item {
        a {
          color: #fff;
          text-shadow: 2px 2px 4px #000;
        }
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: 1000px) {
  .btn-blue.donate-button {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .btn-blue.donate-button {
    display: block;
  }
}
