.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  display: flex;
  padding: 30px;
  width: 100%;

  &.front-page {
    display: flex;
    padding: 30px;
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  .nav-primary {
    margin-left: auto;
    display: flex;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
      font-size: 18px;
      padding: 0 20px;
    }

    &.front-page {
      a {
        color: #fff;
      }
    }
  }
}

.title-section {
  min-height: 800px;

  p {
    display: flex;
    max-width: 50%;
    margin-left: auto;
  }

  .title-section--inspirational-quote {
    padding-top: 100px;
    padding-right: 50px;
    font-size: 20px;
  }
}

@media screen and (min-width: 0) and (max-width: 762px) {
  .btn-orange.donate-button {
    display: none;
  }
}

@media screen and (min-width: 763px) {
  .btn-orange.donate-button {
    display: block;
  }
}
