// body {
//   margin-top: -8px;
// }

.content-page {
  .page-header {
    margin-bottom: 60px;

    h1 {
      font-size: 40px;
      line-height: 48px;
      font-style: italic;
      font-weight: normal;
      margin-top: 74px;
      margin-bottom: 74px;
    }
  }

  .image-bar {
    background-color: #0a2c58;
    width: 100%;
    height: 436px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.navigation-page {
  .container {
    max-width: 100%;
    padding: 0;

    .main {
      .wp-block-media-text {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        padding-top: 20px;
        padding-bottom: 20px;

        &__content {
          margin: 20px;
          width: 48vw;
          max-height: 100%;

          p {
            padding: 10px;
            line-height: normal;
          }
        }

        &__media {
          width: 48vw;
          height: 100%;
          display: flex;
          justify-content: center;
          overflow: hidden;

          img {
            max-height: 100%;
            width: auto;
          }
        }

        @media screen and (min-width: 0) and (max-width: 1000px) {
          &__content {
            width: 100vw;
            height: auto;
          }

          &__media {
            width: 100vw;
            height: auto;

            img {
              height: auto;
              width: 100%;
            }
          }
        }
      }

      .wp-block-media-text.has-media-on-the-right {
        flex-direction: row-reverse;
      }

      @media screen and (min-width: 0) and (max-width: 1000px) {
        .wp-block-media-text {
          height: auto;
        }
      }

      .header-section {
        position: relative;

        img {
          height: 100vh;
          width: 100vw;
          object-fit: cover;
          overflow: hidden;
        }

        .overlay-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            color: #fff;
            font-size: 30px;
            font-style: italic;
            margin-bottom: 50px;
            text-shadow: 2px 2px 4px #000;
          }

          .quote-author {
            font-size: 24px;
          }
        }
      }
    }
  }
}
