.content-page {
  .page-header {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container {
    max-width: 70%;
    padding: 0;
    margin: 0 auto;

    p {
      font-size: 1em;
      line-height: 1.4em;
      text-decoration: none;
      font-weight: 200;
      margin: 0 0 1em 0;
    }

    @media screen and (min-width: 0) and (max-width: 600px) {
      img {
        width: 100%;
      }
    }

    blockquote {
      box-sizing: border-box;
      font-size: 1em;
      line-height: 1.4em;
      text-decoration: none;
      font-weight: 400;
      font-style: italic;
      margin: 0 0 2em 0;
      padding: 1em 1em 0.5em 1em;
      background: rgb(213, 213, 245);
      background: radial-gradient(circle, rgba(213, 213, 245, 1) 0%, rgba(239, 239, 246, 1) 62%);
      border-top: 5px solid #bb8c36;
      border-bottom: 5px solid #bb8c36;
      border-left: none;
    }

    form {
      display: flex;
      flex-flow: wrap;
      margin-top: 2em;

      .leftcolumn,
      .rightcolumn {
        width: 50%;
        overflow: hidden;
        box-sizing: border-box;
      }

      .leftcolumn {
        padding: 0 1em 0 0;
      }

      .rightcolumn {
        padding: 0 0 0 1em;
      }

      @media screen and (min-width: 0) and (max-width: 1000px) {
        .leftcolumn,
        .rightcolumn {
          width: 100%;
          padding: 0;
        }
      }

      p {
        font-size: 1em;
        line-height: 1.4em;
        text-decoration: none;
        font-weight: 400;
        margin: 0 0 1em 0;
      }

      input.textfield {
        width: 100%;
        box-sizing: border-box;
        background-color: #efeff6;
        padding: 0.25em 1em;
        border: 1px solid #ccc;
        font-size: 1em;
        line-height: 1.4em;
        margin: 0 0 1em 0;
      }

      .checkfield {
        width: 100%;
        font-size: 1em;
        line-height: 1em;
        margin: 0 0 1em 0;
        min-height: 1.4em;
        overflow: hidden;
        display: block;
      }

      input[type="checkbox" i] {
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
      }

      .textarea {
        width: 100%;
        box-sizing: border-box;
        background-color: #efeff6;
        padding: 0.25em 1em;
        border: 1px solid #ccc;
        font-size: 1em;
        line-height: 1.4em;
        margin: 0 0 1em 0;
        max-height: 7em;
      }

      select.select {
        width: 100%;
        box-sizing: border-box;
        background-color: #efeff6;
        padding: 0.25em 1em;
        border: 1px solid #ccc;
        font-size: 1em;
        line-height: 1.4em;
        margin: 0 0 1em 0;
      }
    }
  }
}

.navigation-page {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;

    .main {
      .wp-block-group {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1001px) {
          min-height: 70vh;
        }

        .wp-block-group__inner-container {
          width: 50vw;

          iframe {
            width: 100%;
            height: 28vw;
          }
        }

        @media screen and (min-width: 0) and (max-width: 1000px) {
          .wp-block-group__inner-container {
            width: 100%;

            p {
              padding: 10px;
            }

            iframe {
              width: 100%;
              height: 55vw;
            }
          }
        }
      }

      .wp-block-media-text {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        padding-top: 20px;
        padding-bottom: 20px;

        @media screen and (min-width: 1001px) {
          min-height: 70vh;
        }

        &__content {
          padding: 20px;
          padding-left: 20vw;
          width: 66vw;
          min-height: 20vw;
          background-color: #f2eee5;
          transform: translate(-8vw, 8vw);
          margin-bottom: 8vw;

          p {
            padding: 10px;
            line-height: normal;
          }
        }

        &__media {
          width: 30vw;
          height: 30vw;
          display: flex;
          justify-content: flex-end;
          position: relative;
          overflow: hidden;
          z-index: 10;
          border: 15px solid #fff;
          transform: translate(10vw, 0);

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
          }
        }
      }

      .wp-block-media-text.has-media-on-the-right {
        flex-direction: row-reverse;

        .wp-block-media-text__content {
          padding-right: 20vw;
          padding-left: 20px;
          transform: translate(8vw, 8vw);
          margin-bottom: 8vw;
        }

        .wp-block-media-text__media {
          justify-content: flex-start;
          transform: translate(-10vw, 0);
        }
      }

      @media screen and (min-width: 0) and (max-width: 1000px) {
        .wp-block-media-text {
          height: auto;
          padding: 0;

          &__content {
            width: 100vw;
            height: auto;
            transform: none;
            padding: 10px;
            padding-bottom: 20px;
            margin: 0;
          }

          &__media {
            width: 100vw;
            height: 100vw;
            position: relative;
            overflow: hidden;
            transform: none;
            border: 0;

            img {
              height: 100%;
              width: 100%;
            }
          }
        }

        .wp-block-media-text.has-media-on-the-right {
          .wp-block-media-text__content {
            padding: 10px;
            transform: none;
            margin: 0;
          }

          .wp-block-media-text__media {
            transform: none;
          }
        }
      }

      .header-section {
        position: relative;

        img {
          height: 100vh;
          width: 100vw;
          object-fit: cover;
          overflow: hidden;
        }

        @media screen and (min-width: 0) and (max-width: 1000px) {
          img {
            // Substract the height of the menu bar
            height: calc(100vh - 50px);
          }
        }

        .overlay-title {
          position: absolute;
          bottom: 4%;
          left: 50%;
          transform: translate(-50%);

          p {
            color: #fff;
            font-size: 24px;
            font-style: italic;
            text-shadow: 2px 2px 4px #000;
          }

          .quote {
            margin-bottom: 25px;
            font-style: italic;
          }

          .quote-author {
            font-size: 20px;
          }
        }

        @media screen and (min-width: 1001px) {
          .overlay-title {
            bottom: 15%;

            p {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}
