body {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #4c4c4c;
}

h1,
h2 {
  color: #313234;
}

a {
  text-decoration: underline;
  color: #226089;
}

blockquote {
  font-weight: bold;
  border-left: 6px solid #fd8026;
  padding-left: 22px;
}
