body {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #4c4c4c;
}

h1,
h2,
a {
  color: #dc6c25;
}

a {
  text-decoration: underline;
}
